::placeholder{
  text-align: center;
  font-size: 14px;
  color: gray;
  background-image: url(../assets/search-solid.svg);
  background-repeat: no-repeat;
  background-position: 40%;
  background-size: 6%;
}

.middlearea{
  max-height: 200px !important;
  background-color: #FAFAFA;
}
input.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    background-color: #FAFAFA;
}

.postuserfont {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  color: black;
}


.storyphoto {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid rgb(238, 39, 82);
  margin-right: 7px;
}

.storytext {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  color: black;
}
.rightpanel {
  position: fixed;
  top: 56px;
  background-color: #fff;
  border: none;
}

.rightpanellinks {
  text-decoration: none;
  color: lightgrey;
}

.rightpanellinks:hover {
  text-decoration: none;
  color: lightgrey;
}
.nav-class{
  height: 54px;
  background-color: #fff;
}
.logo{
  margin-left: 192px
}
.card-header,
.card-footer{
  background-color: #fff;
}
@media (max-width: 768px) {
  .logo{
    margin-left: 10px
  }
}